.screen{
    background-color: white;
    padding: 20px;
    margin: 30px;
    flex: 4;
    height: max-content;
    margin-bottom: 10px;
}

.alldetails{
    text-align: center;
}

.projectName {
    font-size: 30px;
    margin: 0;

}

.endDate{
    font-size: 25px;
    margin: 5px 0px;
    color: red;
}
.descript{
    margin: 10px 0px;
}

.workerName{
    font-size: 20px;
    font-weight: 600;
}

.workerField{
    margin-bottom: 40px;
}

.task{
    display: flex;
    margin-bottom: 5px;
}

button{
    margin: 0px 10px;
}

.weekleft-task{
    color: red;
}

.dayleft-task{
    color: red;
    font-weight: 200;
}

.late-task{
    color: red;
    font-weight: 1000;
}

.finished-task{
    color: green;
    font-weight: 800;
}

.enterName{
    margin-bottom: 10px;
}

.optionWorker:hover{
    color: blue;
    cursor: pointer;
}

.selected{
    display: inline;
}


.create{
    display: flex;           /* Set the container to use flexbox */
    justify-content: center;
}
.dateChange{
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}

.changedate{
    width: 200px;
}

.finish{
    display: flex;
    justify-content: center;
}