.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.ProjectName{
  padding-top: 25px;
}


body{
  background: orange;
}

.allProjects{
  margin-left: 20px;
  display: flex;         /* Flexbox layout */
  flex-direction: row;   /* Align children horizontally */
  height: 100vh;   
  gap: 20px;
}

